.hero-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.header-top {
  padding: 0.5rem 1.5rem;
  background-color: #f4f7ff;
  width: 270px;
  display: flex;
  align-items: center;
  color: #1463ff;
  font-weight: 500;
  border-radius: 40px;
}

.header-top p {
  color: #1463ff;
  font-weight: 500;
}

.hero-paragraph {
  width: 75%;
}

.how-it-works-paragraph {
  width: 100%;
}

.stepImages {
  max-width: 100%;
}

.stepButton {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #a1a1a1;
  font-weight: 400;
}

/* .serviceGridContainer > .MuiGrid-item {
  margin-bottom: 16px;
  margin-right: 16px;
} */

.ssl-image {
  position: absolute;
  right: -2rem;
  top: -1rem;
}

.ssl-paragraph {
  /* padding-top: 5rem; */
  color: white;
  width: 80%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
}

.CTO-top p {
  color: white;
}

a {
  text-decoration: none;
  color: #a1a1a1;
  font-weight: 400;
  font-size: 14px;
}

.footer-img {
  width: 20%;
  padding-bottom: 1rem;
}

.css-11w6z0g-MuiStepLabel-label.Mui-active {
  color: #ffffffde !important;
  font-weight: 500;
}

.css-k4qjio-MuiFormHelperText-root.Mui-error {
  margin-left: 0 !important;
}

@media (max-width: 980px) {
  .ssl-paragraph {
    /* padding-top: 4rem; */
    font-size: 1.5rem;
    width: 100%;
    line-height: 1.6rem;
  }
}

@media (max-width: 768px) {
  .header-top {
    font-size: 14px;
    width: 260px;
    text-align: center;
  }
  .hero-paragraph {
    width: 100%;
  }
  .ssl-image {
    right: -3rem;
    top: -2rem;
  }

  .ssl-paragraph {
    /* padding-top: 4rem; */
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.6rem;
  }

  .footer-img {
    width: 40%;
    padding-bottom: 1rem;
  }
}
