@font-face {
  font-family: "Stagnan";
  src: local("Stagnan"),
    url(/src/assets/fonts/Stagnan\ Bold.otf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Stagnan";
  src: local("Stagnan"),
    url(/src/assets/fonts/Stagnan\ SemiBold.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Stagnan";
  src: local("Stagnan"),
    url(/src/assets/fonts/Stagnan\ Regular.otf) format("opentype");
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4faff;
  font-family: "Stagnan" sans-serif;
}
